deal with uid case (in)sensitivity in LDAP authorization plugins

**Describe the bug**
When using a authorization stack with `LdapUser` plugin that retrieves the `uid` attribute of a user  which is then followed by the `LdapFilter` plugin that performs Unix supplementary group lookup, this could fail over case (in)sensitivity.

**To Reproduce**
Specifically, if the `uid` from the 1st lookup is all capitals, then using this uid as `memberUid` in `(&(objectClass=posixAccount)(cn=cows*)(memberUid=BOO))` may fail because the latter lookup is case sensitive.

**Expected behavior**
The latter lookup should succeed, i.e. needs to have a way how to convert the `uid` to lower case.

**Screenshots**
N/A

**Additional context**
from Jordan Brown @ Oracle:
> RFC2307 tells you to use the "uid" attribute for the user name.  RFC 4519 defined uid to be case insensitive.  (And before it, "userid" in RFC 1274.)  RFC 2307 then has a mismatch in defining memberUid to be case sensitive.


RFC 2307 (Using LDAP as a Network Information Service, 3. Attribute definitions):
> ( nisSchema.1.12 NAME 'memberUid'
          EQUALITY caseExactIA5Match
          SUBSTRINGS caseExactIA5SubstringsMatch
          SYNTAX 'IA5String' )

RFC 4519 (LDAP: Schema for User Applications, 2.39.  'uid'):
>  ( 0.9.2342.19200300.100.1.1 NAME 'uid'
         EQUALITY caseIgnoreMatch
         SUBSTR caseIgnoreSubstringsMatch
         SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 )

There are multiple way how to fix this:
  - change `LdapUser` to convert the uid attribute to lower case (introduce new configuration parameter to tell which attributes should be converted)
  - add filter expansion suffix (e.g. `%uid.toLower`) to be used in `LdapFilter` and elsewhere that will trigger the transform of the attribute


The advantage of the 2nd solution is that it limits the scope to single filter. Also, it allows for greater flexibility (possibly more transforms like `toUpper` - theoretically the problem can manifest vice versa - the Unix group entries might be in capital while the user's attribute can be lower case).